{% load static %} {% load i18n %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="viej6-IIOJ8P9xOvnNij5WhYFXR0221TS-wozu_kES0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Default Meta Tags -->
    <meta name="description" content="{% block meta_description %}Online sports store jerseys.ge - Your favorite football team's jerseys and more.{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}arsenal vintage jerseys, barcelona classic kits, real madrid historic shirts, liverpool old football shirts, ac milan retro kits, juventus vintage football jerseys, chelsea classic football shirts, bayern munich retro jerseys, retro football jerseys, vintage football kits, authentic football shirts, old football shirts, football shirt collection, historic football kits, rare football jerseys, original football shirts, jerseys, jerseys.ge, football jerseys, buy football jerseys, team jerseys, sports apparel, fan merchandise, football fan gear, soccer jerseys, team colors, high-quality jerseys, football team shirts, georgian national team, retro football shirts, georgia national football team shirts, kharikha, hariha{% endblock %}" />
    <meta name="author" content="M.T." />
    
    <!-- Meta Tags for Georgian Language -->
    {% if request.LANGUAGE_CODE == 'ka' %}
    <meta name="description" lang="ka" content="{% block meta_description_ka %}ონლაინ სპორტული მაღაზია jerseys.ge - შენი საყვარელი საფეხბურთო გუნდის მაისურები და მეტი.{% endblock %}" />
    <meta name="keywords" lang="ka" content="{% block meta_keywords_ka %}სპორტული მაღაზია, საფეხბურთო მაღაზია, მაისური, ფეხბურთის მაისურები, რეტრო მაისური, ფეხბურთის ფორმები, საფეხბურთო ტანსაცმელი, საფეხბურთო აქსესუარები, კვარაცხელია, ნაკრების მაისური, რეალის მაისური, ბარსელონას მაისური, ჯერსი, ჯერსი.ჯე, ფეხბურთის მაისურები, გუნდის მაისურები, სპორტული ტანსაცმელი, გულშემატკივრის ატრიბუტიკა, გუნდის ფერები, მაღალი ხარისხის მაისურები, საქართველოს ნაკრების ფორმები{% endblock %}" />
    {% endif %}
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{% block og_title %}Jerseys.ge - High-Quality Football Jerseys{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}Buy high-quality football jerseys of your favorite teams. Show your support by wearing the colors of your team. Discover a wide range of football jerseys available for all fans.{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{% static 'images/og-image.jpg' %}{% endblock %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="website" />
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{% block twitter_title %}Jerseys.ge - High-Quality Football Jerseys{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter_description %}Buy high-quality football jerseys of your favorite teams. Show your support by wearing the colors of your team. Discover a wide range of football jerseys available for all fans.{% endblock %}" />
    <meta name="twitter:image" content="{% block twitter_image %}{% static 'images/twitter-image.jpg' %}{% endblock %}" />
    
    <title>{% block title %}Jerseys.ge - High-Quality Football Jerseys{% endblock %}</title>

    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-XXX"
      crossorigin="anonymous"
    />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendors.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'demos/fashion-store/fashion-store.css' %}"
    />

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS -->
    <script src="{% static 'js/scripts.js' %}"></script>

    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  <body data-mobile-nav-style="classic">
    <!-- Start header -->
    <header class="text-white">
      <nav
        class="bg-black navbar navbar-expand-lg header-light sm-pt-4 text-white"
      >
        <div class="container-fluid bg-black">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-line "></span>
            <span class="navbar-toggler-line "></span>
            <span class="navbar-toggler-line "></span>
            <span class="navbar-toggler-line "></span>
          </button>

          <div class="text-white">
            <div
              class="collapse navbar-collapse text-white bg-black"
              id="navbarNav"
            >
              <!-- Search Form (visible only on small screens) -->
            <form class="d-lg-none" method='POST' action="{% url 'search' %}">
                {% csrf_token %}
                <input class="bg-white text-black w-50 rounded" required  type="text" name="searched" placeholder="Search products..." aria-label="Search products">
                <button class="btn bg-black p-19px " type="submit"><i  class="fas fa-search text-white"></i></button>
              </form>
          
              <ul
                class="navbar-nav alt-font navbar-left justify-content-between text-white"
              >
                <li class="nav-item">
                  <a
                    class="nav-link  fs-5 text-white"
                    aria-current="page"
                    href="{% url 'home' %}"
                    >{% trans "Home" %}</a
                  >
                </li>
                <!-- this links appears only when user is home page -->
                {% if request.resolver_match.url_name == 'home' %}
                <li class="nav-item">
                  <a class="nav-link fs-5 text-white" href="#categories-section">{% trans "Categories" %}</a
                  >
                </li>
                <li class="nav-item ">
                  <a class="nav-link fs-5 text-white" href="#products-section">{% trans "Products" %}</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link fs-5 text-white" href="#faq">{% trans "FAQ" %}</a>
                </li>
                {% if request.LANGUAGE_CODE == 'en' %}
                <li class="nav-item ">
                  <a class="nav-link fs-5 text-white" href="#contact">{% trans "Contact" %}</a>
                </li>
                {% else %}
                <li class="nav-item ">
                  <a class="nav-link fs-5 text-white" href="#contact">{% trans "კონტაქტი" %}</a>
                </li>
                {% endif %}
                {% endif %}
              </ul>
            </div>
          </div>
          
        <!-- search -->
          <!-- Search Form -->
          <form class=" d-none d-lg-flex " method='POST' action="{% url 'search' %}">
            {% csrf_token %}
            <input class="search_form_input bg-white text-black rounded" required type="text" name="searched" placeholder="Search products..." aria-label="Search products">
            <button class="btn bg-black " type="submit"><i class="fas text-white fa-search"></i></button>
          </form>
          
        
          <div class="d-flex justify-content-center p-2 ">
            <div class="mt-8">
              <div class="header-icon text-white ">
                <div>
                  <a
                    href="{% url 'cart_sum' %}"
                    class="btn cart-link d-flex align-items-center"
                  >
                    <i class="bi-cart-fill me-1 fs-6 text-white"></i>
                    <span
                      class="badge bg-dark text-white ms-1 fs-6 rounded-pill"
                      id="cart_count"
                    >
                      {{ cart|length }}
                    </span>
                  </a>
                </div>
     
  
  
  
              </div>
            </div>
            <div class="mt-8">
              {% if user.is_authenticated %}
              <div class="widget-text icon alt-font">
                <a href="{% url 'profile' %}">
                  <i class="fas fa-user d-inline-block ml-2 fs-6 text-white me-5px"></i>
                  <span class="d-none d-xxl-inline-block text-white fs-5">
                    {% trans "Account" %}
                  </span>
                </a>
              </div>
              {% endif %}
            </div>
            <div class="mt-7">
              <ul>
                <li class="nav-item dropdown ">
                  <button
                    class="btn dropdown-toggle fs-5 text-white"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {% trans "EN" %}
                  </button>
                  <ul class="dropdown-menu   text-center ">
                    <li>
                      <a href="{% url 'set_language' 'en' %}"
                        >{% trans "English" %}</a
                      >
                    </li>
                    <li>
                      <a href="{% url 'set_language' 'ka' %}"
                        >{% trans "ქართული" %}</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
              
            </div>
            <div class="mt-7 ">
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn bg-black text-white fs-5 "> <i class="fa-solid fa-right-from-bracket fs-5 text-white mt-5 "></i>{% trans "Login" %}</a>
            {% else %}
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="btn bg-black text-white fs-5" type="submit"><i class="fa-solid fa-right-from-bracket fs-5 text-white"></i>{% trans "Logout" %}</button>
            </form>
            {% endif %}
          </div>
          </div>
        </div>

      </nav>
    </header>

    <!-- Messages -->
    {% if messages %}
    <div class="container-fluid mt-5 pt-3 position-absolute">
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <!-- Main content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="py-5 mt-8  bg-black">
      <div class="d-flex justify-content-evenly">
        <p class="mt-3 text-center text-white">
          Copyright &copy; jerseys.ge {{ 2024 }}
        </p>
      </div>

    </footer>

    <script>
      document.querySelectorAll("a.nav-link[href^='#']").forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();
          document.querySelector(this.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
          });
          // Close the navbar-collapse when a link is clicked
          document.querySelector(".navbar-collapse").classList.remove("show");
        });
      });
    </script>
  </body>
</html>
